
@import './buttons.css';

body {
    background-color: #3949AB;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.wrapper {
    max-inline-size: 900px; 
    margin: auto; 
}

.player{
    margin-block-start: 100px; 
    /*border: 10px solid red;*/
    position: relative; 
}

.player video {
    inline-size: 100%;
    aspect-ratio: 4/3;
    vertical-align: middle;
}

.player-title {
color: white;
position: absolute; 
inset-block-start: 20px;
inset-inline-start: 20px; 
margin: 0;  
}

.player-actions {
    position: absolute; 
inset:  0px; 
/*border: 10px solid blue;*/
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}


.player-progress {
    position: absolute;
    inset-block-end: 0; 
    inset-inline: 0; 
    display: flex; 
}

.player-progress input {
flex: 1; 
padding: 15px; 
}

.player-overlay {
    position: absolute; 
    inset: 0;
    opacity: 0;
    transition: .3s opacity;
    
}

.player:hover .player-overlay {
    opacity: 1;
}
